{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="mt-2">Django payment</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
        {{ field | as_crispy_field}}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-success">Make payment</button>


    <ul>
      {% for task in tasks %}
      
        {% if task.status == 'SUCCESS' %}
          <li color='green'>
            {{ task.task_id }} {{task.status}}
          </li>
        {% endif %}

        {% if task.status == 'FAILURE' %}
          <li color='red'>
            {{ task.task_id }} {{task.status}}
          </li>
        {% endif %}

        {% if task.status == 'PENDING' %}
        <li color='yellow'>
          {{ task.task_id }} {{task.status}}
        </li>
      {% endif %}

      {% endfor %}
    </ul>
    

  </form>

{% endblock %}